= image_tag 'pict/bg-appBanner-pict.jpg',class:'appBanner__img'
.appBanner__inner
  %h1.appBanner__title
    だれでもかんたん、人生を変えるフリマアプリ
  %p.appBanner__download
    今すぐ無料ダウンロード！
  %ul.appBanner__contents
    %li.appBanner__banner
      = link_to "#", class:"btn play" do
        = image_tag "icon/app.svg",size:'180x53'
    %li.appBanner__banner
      = link_to "#", class:"btn play" do
        = image_tag "icon/google.svg",size:'180x53'