.footer
  .footer-contents
    %ul.footer-contents-head
      FURIMAについて
      %li.footer-contents-head-content
        = link_to '#',class:'decoration' do
          会社概要（会社運営）
        = link_to '#',class:'decoration' do
          プライバシーポリシー
        = link_to '#',class:'decoration' do
          FURIMA利用規約
        = link_to '#',class:'decoration' do
          ポイントに関する特約
    %ul.footer-contents-head
      FURIMAを見る
      %li.footer-contents-head-content
        = link_to '#',class:'decoration' do
          カテゴリー一覧
        = link_to '#',class:'decoration' do
          ブランド一覧
    %ul.footer-contents-head
      ヘルプ&ガイド
      %li.footer-contents-head-content
        = link_to '#',class:'decoration' do
          FURIMAガイド
        = link_to '#',class:'decoration' do
          FURIMAロゴ利用ガイドライン
        = link_to '#',class:'decoration' do
          お知らせ
  %li.footer-logo
    = link_to '#' do
      = image_tag 'logo/logo-white.png',size:'160x46'
    .footer-logo-list
      © FURIMA