.toppage-main-contents__top-img
  = image_tag 'pict/bg-mainVisual-pict_pc.jpg',size:'1280x560'
  .toppage-main-contents__top-img__heading
    人生を変えるフリマアプリ
  .toppage-main-contents__top-img__text
    FURIMAはだれでもかんたんに出品・購入できる
    %br
    フリマアプリです
    .toppage-main-contents__top-img__btn
      =link_to "#", class:"btn app" do
        %img(src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" height="53" width="180")
      =link_to "#", class:"btn play" do
        %img(src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" height="53" width="180")
.toppage-main-contents__reason
  %h1.reason
    FURIMAが選ばれる3つの理由
  %ul.toppage-main-contents__reason-box
    %li.toppage-main-contents__reason-img
      %span.number
        1
      = image_tag 'pict/pict-reason-01.jpg',size:'306x306'
      %h2.reason
        %span
          3分
        ですぐに出品
      %p.reason
        スマホで入力するだけで
        %br
        簡単に出品できる！
    %li.toppage-main-contents__reason-img
      %span.number
        2
      = image_tag 'pict/pict-reason-02.jpg',size:'306x306'
      %h2.reason
        %span
          シンプル
        で使いやすい
      %p.reason
        めんどくさい入力は必要なく、
        %br
        検索も購入もスムーズ！
    %li.toppage-main-contents__reason-img
      %span.number
        3
      = image_tag 'pict/pict-reason-03.jpg',size:'306x306'
      %h2.reason
        手数料
        %span
          業界最安
      %p.reason
        最大3%でお得に出品&購入！
=link_to '#' do
  .toppage-main-contents__camera
    %p.exhibition
      出品する
    = image_tag 'icon/icon_camera.png',size:'60x60'