.header
  = render 'top/header'
.wrapper
  .toppage-main-contents
    .top-img
      = image_tag 'pict/bg-mainVisual-pict_pc.jpg',class:'top-img'
      .top-img__heading
        人生を変えるフリマアプリ
      .top-img__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
        .top-img__btn
          =link_to "#", class:"btn app" do
            = image_tag "icon/app.svg",size:'180x53'
          =link_to "#", class:"btn play" do
            = image_tag "icon/google.svg",size:'180x53'
    .reason
      %h1.reason__reason-title
        FURIMAが選ばれる3つの理由
      %ul.reason__reason-box
        %li.reason__reason-img
          %span.number
            1
          = image_tag 'pict/pict-reason-01.jpg',size:'306x306'
          %h2.reason-content
            %span
              3分
            ですぐに出品
          %p.reason-text
            スマホで入力するだけで
            %br
            簡単に出品できる！
        %li.reason__reason-img
          %span.number
            2
          = image_tag 'pict/pict-reason-02.jpg',size:'306x306'
          %h2.reason-content
            %span
              シンプル
            で使いやすい
          %p.reason-text
            めんどくさい入力は必要なく、
            %br
            検索も購入もスムーズ！
        %li.reason__reason-img
          %span.number
            3
          = image_tag 'pict/pict-reason-03.jpg',size:'306x306'
          %h2.reason-content
            手数料
            %span
              業界最安
          %p.reason-text
            最大3%でお得に出品&購入！

    .dl
      .dl__inner
        .dl__inner__heading
          会員数日本一位
        .dl__inner__text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .dl__inner__btn
          =link_to "#", class:"btn app" do
            = image_tag "icon/app.svg",size:'180x53'
          =link_to "#", class:"btn play" do
            = image_tag "icon/google.svg",size:'180x53'
    .feature
      %h2.heading
        FURIMAの特徴
      .heading-line
      .contents
        .content
          .content__img
            = image_tag "icon/icon-01.png"
          %h3.content__subtitle
            簡単に売り買いできる
          %p.content__text
            スマホひとつで、いつでもどこでも簡単に
            %br
            出品・購入が可能！
        .content
          .content__img
            = image_tag "icon/icon-03.png"
          %h3.content__subtitle
            売上金は即日振り込みに対応
          %p.content__text
            午前9時までに振り込みを依頼いただければ、
            %br
            翌日に指定の口座に入金いたします！
        .content
          .content__img
            = image_tag "icon/icon-04.png"
          %h3.content__subtitle
            様々な支払いに対応
          %p.content__text
            お支払いは、クレジットカードだけでなく、
            %br
            ポイントや売上金など多彩な方法があります。
    .pickup
      %h1.pickup__title
        ピックアップカテゴリー
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          レディース新着アイテム
      .pickup__box
        = render partial:'pickup', collection:@redies,as: :product
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          メンズ新着アイテム
      .pickup__box
        = render partial:'pickup', collection:@mens,as: :product
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          家電・スマホ・カメラ新着アイテム
      .pickup__box
        = render partial:'pickup', collection:@electrical,as: :product
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          おもちゃ・ホビー・グッズ新着アイテム
      .pickup__box
        = render partial:'pickup', collection:@kids,as: :product
      %h1.pickup__title
        ピックアップブランド
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          シャネル
      .pickup__box
        = render partial:'pickup', collection:@chanel,as: :product
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          ナイキ
      .pickup__box
        = render partial:'pickup', collection:@nike,as: :product
      %h2.pickup__sub-title
        =link_to "#",class:'pickup__link--category' do
          アップル
      .pickup__box
        = render partial:'pickup', collection:@apple,as: :product

    .appBanner
      = render 'top/app_banner'
.footer
  = render 'top/footer'
= link_to new_exhibition_path do
  .camera
    %p.exhibition
      出品する
    = image_tag 'icon/icon_camera.png',size:'60x60'
