.pickup
  .pickup-top
    .pickup-top-titile
      ピックアップカテゴリー
    .pickup-top-box
      .pickup-top-box-titile
        =link_to "#",class:'decoration-two' do
          新規投稿商品
      .pickup-top-box-main
        = link_to '#',class:'decoration-three' do
          .pickup-top-box-main-leftbox
            .pickup-top-box-main-leftbox-top
              = link_to '#',class:'decoration-three' do
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png',size:'220x150'
            .pickup-top-box-main-leftbox-bottom
              .pickup-top-box-main-leftbox-bottom-name
                produt
              .pickup-top-box-main-leftbox-bottom-detail
                .pickup-top-box-main-leftbox-bottom-price
                  20000円
                  .pickup-top-box-main-leftbox-bottom-star
                    ★
                    .pickup-top-box-main-leftbox-bottom-counter
                      0
              .pickup-top-box-main-leftbox-bottom-tax
                （税込み）

        .pickup-top-box-main-centerbox
          .pickup-top-box-main-centerbox-top
            = link_to '#',class:'decoration-three' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png',size:'220x150'
          .pickup-top-box-main-centerbox-bottom
            .pickup-top-box-main-centerbox-bottom-name
              product
            .pickup-top-box-main-centerbox-bottom-detail
              .pickup-top-box-main-centerbox-bottom-price
                20000円
                .pickup-top-box-main-centerbox-bottom-star
                  ★
                  .pickup-top-box-main-centerbox-bottom-counter
                    0
            .pickup-top-box-main-centerbox-bottom-tax
              （税込み）

        .pickup-top-box-main-rightbox
          .pickup-top-box-main-rightbox-top
            = link_to '#',class:'decoration-three' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png',size:'220x150'
          .pickup-top-box-main-rightbox-bottom
            .pickup-top-box-main-rightbox-bottom-name
              product
            .pickup-top-box-main-rightbox-bottom-detail
              .pickup-top-box-main-rightbox-bottom-price
                20000円
                .pickup-top-box-main-rightbox-bottom-star
                  ★
                  .pickup-top-box-main-rightbox-bottom-counter
                    0
            .pickup-top-box-main-rightbox-bottom-tax
              （税込み）


  .pickup-middle
    .pickup-middle-titile
      ピックアップブランド
    .pickup-middle-box
      .pickup-middle-box-titile
        =link_to "#",class:'decoration-two' do
          アーカイバ
      .pickup-middle-box-main
        .pickup-middle-box-main-leftbox
          .pickup-middle-box-main-leftbox-top
            = link_to '#',class:'decoration-three' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png',size:'220x150'
          .pickup-middle-box-main-leftbox-bottom
            .pickup-middle-box-main-leftbox-bottom-name
              produt
            .pickup-middle-box-main-leftbox-bottom-detail
              .pickup-middle-box-main-leftbox-bottom-price
                20000円
                .pickup-middle-box-main-leftbox-bottom-star
                  ★
                  .pickup-middle-box-main-leftbox-bottom-counter
                    0
            .pickup-middle-box-main-leftbox-bottom-tax
              （税込み）

        .pickup-middle-box-main-centerbox
          .pickup-middle-box-main-centerbox-top
            = link_to '#',class:'decoration-three' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png',size:'220x150'
          .pickup-middle-box-main-centerbox-bottom
            .pickup-middle-box-main-centerbox-bottom-name
              product
            .pickup-middle-box-main-centerbox-bottom-detail
              .pickup-middle-box-main-centerbox-bottom-price
                20000円
                .pickup-middle-box-main-centerbox-bottom-star
                  ★
                  .pickup-middle-box-main-centerbox-bottom-counter
                    0
            .pickup-middle-box-main-centerbox-bottom-tax
              （税込み）

        .pickup-middle-box-main-rightbox
          .pickup-middle-box-main-rightbox-top
            = link_to '#',class:'decoration-three' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png',size:'220x150'
          .pickup-middle-box-main-rightbox-bottom
            .pickup-middle-box-main-rightbox-bottom-name
              product
            .pickup-middle-box-main-rightbox-bottom-detail
              .pickup-middle-box-main-rightbox-bottom-price
                20000円
                .pickup-middle-box-main-rightbox-bottom-star
                  ★
                  .pickup-middle-box-main-rightbox-bottom-counter
                    0
            .pickup-middle-box-main-rightbox-bottom-tax
              （税込み）



.appBanner
  = image_tag 'pict/bg-appBanner-pict.jpg',size:'1425x359'
  .appBanner-inner
    .appBanner-inner-header
      だれでもかんたん、人生を変えるフリマアプリ
    .appBanner-inner-main
      今すぐ無料ダウンロード！
    .appBanner-inner-contents
      .appBanner-inner-contents-left
        =link_to "#", class:"btn play" do
          %img(src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" height="53" width="180")
      .appBanner-inner-contents-right
        =link_to "#", class:"btn play" do
          %img(src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" height="53" width="180")


