.exhibition-footer
  %ul
    %li= link_to('プライバシーポリシー',"#")
    %li= link_to('利用規約',"#")
    %li= link_to('特定商品に関する表記',"#")
  .logo-center
    = link_to root_path do
      = image_tag 'logo/logo.png',size:'200x71'