.exhibition-wrapper
  .exhibition-header
    = link_to root_path do
      = image_tag 'logo/logo.png',size:'142x41'
  .exhibition-main
    = form_for @exhibition do |f|
      = render 'layouts/error_messages', model: f.object
      .exhibition-container.img#1
        .item
          .item__label 商品画像
          .item__required 必須
        %p.font 最大10枚までアップロードできます
        #image-box-1
          .exhibition-num-0#image-box__container
            = f.fields_for :images do |i|
              .input-area
                = i.file_field :image_url, accept:"image/jpg,image/jpeg,image/png,image/gif", type: 'file', name: "exhibition[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
                %label{for: "img-file"}
                  %i.fa.fa-camera
      .exhibition-container
        .item
          .item__label 商品名
          .item__required 必須
        = f.text_field :name, required:true, placeholder: "40字まで"
        .item
          .item__label 商品の説明
          .item__required 必須
        = f.text_area :explanation, required:true, placeholder: "商品の説明（1,000文字以内）\n（色、素材、重さ、定価、注意点など）" ,id:'exhibition_explanation'
        .count 0/1000
      #exhibition-container.exhibition-container
        .items
          .items__label 商品の詳細
        .item
          .item__label カテゴリー
          .item__required 必須
        .select-wrapper
          = f.number_field :size_id, value:1,class:"none"
          = f.select :category_id, @category_parent_array,{},{class: 'select', id: 'parent_category'}
        .item
          .item__label ブランド
          .item__required--not 任意
        = f.text_field :brand_name, placeholder: "例）シャネル"
        .item
          .item__label 商品の状態
          .item__required 必須
        = f.collection_select  :condition_id, Condition.all, :id, :name
      .exhibition-container
        .items
          .items__label 配送について
          -# //ガイド//
          -# = link_to '#' do
          -#   %i.far.fa-question-circle
        .item
          .item__label 配送料の負担
          .item__required 必須
        = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name
        .item
          .item__label 配送元の地域
          .item__required 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name
        .item
          .item__label 発送までの日数
          .item__required 必須
        = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name
      .exhibition-container
        .items 
          .items__label 価格（¥300〜9,999,999)
          -# //ガイド//
          -# = link_to '#' do
          -#   %i.far.fa-question-circle
        .item.item--center
          .item__label 販売価格
          .item__required 必須
          .item__right
            ¥
            = f.number_field :price,  required:true, style:"text-align:right count", placeholder: "0", class:'price', id:'exhibition_price'
        .sale 
          %p.font.sale__left 販売手数料（10%）
          .sale__right ー
        .sale.border-top
          %p.font.sale__left 販売利益
          .sale__right.two ー
        .actions
          = f.submit "出品する", class:"actions--blue"
          = link_to 'もどる', root_path
  .exhibition-footer
    %ul
      %li= link_to('プライバシーポリシー',"#")
      %li= link_to('利用規約',"#")
      %li= link_to('特定商品に関する表記',"#")
    .logo-center
      = link_to root_path do
        = image_tag 'logo/logo.png',size:'200x71'