.exhibition-wrapper
  .exhibition-header
    = link_to '#' do
      = image_tag 'logo/logo.png',size:'142x41'
  .exhibition-main
    = form_for @exibition do |f|
      .exhibition-container
        .exhibit
          .item
            .item__label
              商品画像
            .item__required
              必須
          %p 最大10枚までアップロードできます
          = f.fields_for :images, @exibition.images.build do |i|
            = i.file_field :image, multiple: true
          .exhibit__img
      .exhibition-container
        .product-name
          .item
            .item__label
              商品名
            .item__required
              必須
          = f.text_field :name, class:"field", placeholder: "40字まで"
        .product-explanation
          .item
            .item__label
              商品の説明
            .item__required
              必須
          = f.text_area :explanation, placeholder: "商品の説明"
      .exhibition-container
        .product-details
          .product-details__categories
            .item
              .item__label
                カテゴリー
              .item__required
                必須
            = f.collection_select :category_id, Exibition_category.all, :id, :category, class:"field"
          .product-details__brand
            .item
              .item__label
                ブランド
              .item__required--not
                任意
            = f.text_field :brand, class:"field", placeholder: "例）シャネル"
          .product-details__status
            .item
              .item__label
                商品の状態
              .item__required
                必須
            = f.collection_select  :status_id, Exibition_status.all, :id, :status
      .exhibition-container
        .delivery
          .item
            .item__label
              配送料の負担
            .item__required
              必須
          = f.collection_select :shipping_method_id, Exibition_shipping_method.all, :id, :burden
          .item
            .item__label
              配送元の地域
            .item__required
              必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class:"field"
          .item
            .item__label
              発送までの日数
            .item__required
              必須
          = f.collection_select :shipping_date_id, Exibition_shipping_date.all, :id, :date
          .item
            .item__label
              販売価格
            .item__required
              必須
          = f.number_field :price
      .actions
        = f.submit "出品する"
      .exhibition-container--pading
  .exhibition-footer