.purchases-confirm-wrapper
  .purchases-confirm-contents
    .purchases-confirm-contents__logo-box  
      = link_to root_path do
        = image_tag 'logo/logo.png',size:'200x60' 
    .purchases-confirm-contents__title
      購入が完了しました
    .purchases-confirm-contents__buyed-product-box
      .purchases-confirm-contents__product
        .purchases-confirm-contents__product--image
          = image_tag @exhibition.images.first.image_url.url
        .purchases-confirm-contents__product--detail
          = @exhibition.name
          %ul.details
            %li.detail
              = "¥#{@exhibition.price}(税込) 送料込み"
      .purchases-confirm-contents__btn-wrapper
        = link_to 'トップページに戻る', root_path, class: 'btn'
        = link_to '購入商品一覧', root_path, class: 'btn'
    .purchases-confirm-contents__bottom
      %ul.bottom-contents
        %li
          プライバシポリシー
        %li
          FRIMA利用規約
        %li
          特定商取引に関する表記
      %p.copyright
        © FURIMA
