.wrapper
  .signup__header
    = render  'devise/shared/header_icon' 

  .form__wrapper--login
    .sign-up__wrapper--login
      %p アカウントお持ちでない方はこちら
      .sign-up__wrapper--btn
        = link_to "新規会員登録", new_registration_path(resource_name)
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドバイス", class: 'input__form--login'
        - @user.errors.full_messages_for(:email).each do |message|
          %li.error__message= message
      .field
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'input__form--login'
      .actions
        = f.submit "ログイン", class: 'submit__btn--login'
    = render "devise/shared/links"

  .signup__footer
    .signup__footer--detail
      = link_to "#" do
        プライバシーポリシー
      = link_to "#" do
        furima利用規約
      = link_to "#" do
        特定商取引に関する表記
    .signup__footer--logo
      = link_to root_path do
        = image_tag 'logo/logo.png',size:'142x41'
        %p © FURIMA,inc