.header
  = render 'top/header'
- breadcrumb :brand, @brand
=render 'layouts/breadcrumb'
.products
  .products__link-list
  -unless @products.blank?
    -@category_brand.each do |link| 
      =link_to link.category.name,link.category
  -unless @products.blank?
    .products__title
      %h2= "#{@products[0].brand_name}の商品一覧"
    .products__item
      = render partial: 'layouts/products_list', collection: @products, as: "product"
    = paginate @products
    %h2.footer-category
      = "#{@products[0].brand_name}"
  -else
    .products__title
      %h2 商品が出品されていません
    =link_to "トップページに戻る", root_path
.footer-category-explanation
.footer.mt
  = render 'top/footer'