.header
  = render 'top/header'
- breadcrumb :category, @category
=render 'layouts/breadcrumb'
.products
  .products__link-list
    - @category.children.each do |category|
      = link_to category.name, category
  .products__title
    %h2= "#{@category.name}の商品一覧"
  .products__item
    = render partial: 'layouts/products_list', collection: @products, as: "product"
= paginate @products
%h2.footer-category
  =@category.name
.footer-category-explanation
  ワンピース(レディース)の着ない服、いらない洋服を売るならメルカリへ。ワンピースはレディースの下にあるカテゴリで商品は40万点以上あります。よく見られているカテゴリーはひざ丈ワンピースやひざ丈ワンピースです。特に人気の商品は「Otto Collection 上品な刺繍入りワンピース ベージュ size L」や「ニットワンピース」や「Fabulous Angela ワンピース」があります。ワンピースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。
.footer.mt
  = render 'top/footer'