.header
  = render 'top/header'
.mypage-wrapper
  .mypage-lists
    = render 'mypage-lists'
  .mypage-contents
    = render 'mypage-top'
.footer
  = render 'top/footer'
= link_to new_exhibition_path do
  .camera
    %p.exhibition
      出品する
    = image_tag 'icon/icon_camera.png',size:'60x60'