.header
  = render 'top/header'
- breadcrumb :logout
=render 'layouts/breadcrumb'
.mypage-wrapper
  .mypage-lists
    =render'mypages/mypage-lists'
  - if @card.blank?
    .btn-page
      .btn-page-contents.btn-page-contents__card-regist
        %h1 支払い方法
        .btn-page-contents__card-regist--wrapper
          %p クレジットカード一覧
          =button_to new_mypage_card_registration_path, method: :get, class: 'card-regist__btn' do
            = icon("far", "credit-card")
            クレジットカードを追加する
  - else 
    .btn-page
      .btn-page-contents.btn-page-contents__card-regist
        %h1 支払い方法
        %p.card-list クレジットカード一覧
        .btn-page-contents__card-list--wrapper
          .btn-page-contents__card-list--wrapper--left
            .card-info= "**** **** **** " + @customer_card.last4
            .card-info= @exp_month + " / " + @exp_year
          .btn-page-contents__card-regist--wrapper--right
            = button_to "削除する", mypage_card_registration_path(@card), method: :delete, class: "card__delete" 
.footer
  = render 'top/footer'

