!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample67a
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'load'
  %body

    = render 'layouts/notifications'

    -# .header
      -# = render 'top/header'
    = yield
    -# .footer
    -#   = render 'top/footer'
    -# =link_to 'exhibitions/new' do
    -#   .camera
    -#     %p.exhibition
    -#       出品する
    -#     = image_tag 'icon/icon_camera.png',size:'60x60'
>>>>>>> parent of 1e8b33d... remove commentout
